.root {
    background-color: #DE9EC1;
    padding: 10px 0;
    border-bottom: 1px solid #b87098;
    margin-bottom: 30px;
}

.inner {
    display: flex;
    justify-content: space-between;
}
.button{
    background-color: #802054 !important;
}

.buttonOut{
    color: #802054 !important;
    border-color: #802054 !important;
}
.buttonPost {
    background-color: #802054	 !important;
}
.logo {
    background-color: #802054;
    color: #fff;
    font-weight: 700;
    line-height: 35px;
    text-transform: uppercase;
    letter-spacing: 0.15px;
    border-radius: 5px;
    padding: 0 10px;
    text-decoration: none;

    &:hover {
        background-color: #802053a5;
    }
}

.buttons {
    button {
        margin-left: 10px;
    }

    a {
        text-decoration: none;
    }
}
